<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

 
  <div fxFlex="40"  >
  
    <mat-card *ngIf="dish">
         <mat-card-header>
            <mat-card-title>
              <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
         </mat-card-header>
          <img met-card-image  height="200px" src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
  
  
        
          
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
          
              <mat-card-actions>
              
                  <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
                              
              </mat-card-actions>
            
           
            
    
    </mat-card> 
    
    </div>
    <div fxFlex="40" > 
      <mat-list  *ngIf="dish"  >
        <h3>Comments</h3>
         <mat-list-item *ngFor="let comment of dish.comments " >
          <h4 matLine>{{comment.comment}}</h4>
          <p matLine>{{comment.rating}} Stars</p>
          <p matLine><span>
          --{{comment.author}}    {{comment.date | date}}</span></p>
         </mat-list-item>
      </mat-list>
   
    <mat-list *ngIf="commentForm.valid">
      <mat-list-item>
        <h4 matLine>{{commentForm.get('comment').value}}</h4>
        <p matLine> {{commentForm.get('rating').value}} Stars</p>
        <p matLine>
          <span>--{{commnetForm.get('author').value}}</span>
        </p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="author" placeholder="author" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
        <mat-slider min="1" max="5" step="1" thumblabel tickInterval="1" ></mat-slider>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
     </p>
     <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </form>
  </div>

  <div [hidden]="dishes || errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>

</div>